.create_wish {
    background: #F7941E;
    border: 2px solid #F7941E;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    padding: 19px 23px;
    margin: auto 20%;
    text-transform: uppercase;
    margin-top: 1em;

    @media(max-width:768px) {
        margin: 1em auto;
        display: block;
        width: max-content;
    }
}


.white_bg {
    background: transparent;
    border: 2px solid #F7941E;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #F7941E;
    padding: 19px 23px;
    margin: 1em 0 0;
    text-transform: uppercase;

    @media(max-width:768px) {
        margin: 1em auto 30px;
        display: block;
        width: max-content;
    }
}


.sides {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #F1F1F2;

    @media(max-width:768px) {
        grid-template-columns: 100%;
    }

    h1 {
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;

        @media(max-width:768px) {
            font-size: 30px;
            line-height: 46px;
            padding: 0 10%;
        }
    }



    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }

    h2 {
        font-weight: 500;
        font-size: 32px;
        line-height: 1.4;
    }

    p {
        font-weight: 300;
        font-size: 20px;
        line-height: 1.4;
    }



    .learn_more {
        border: 2px solid #F7941E;
        border-radius: 5px;
        color: #F7941E;
        padding: 18px 37px;

        @media(max-width:768px) {
            margin-bottom: 30px;
        }
    }
}

.sides_pad {
    padding: 0 20%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media(max-width: 768px) {
        padding: 10%;
    }
}

[data-theme="dark"] {
    .sides_pad {
        background-color: #2b303c;
    }
}