@import "react-slideshow-image/dist/styles.css";
.main_cont-occasions {
    flex: 0 0 100%;
    padding-bottom: 107px;
    width: 100%;

    .occasions-center {
        text-align: center;
    }

    h2 {
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        margin-top: 96px;
        margin-bottom: 22px;
    }

    &>p {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.4;
        margin: 0 0 64px;
    }

    .occasions-cont {

        @media(max-width: 768px) {
            overflow: hidden;
        }

        &>img {
            cursor: pointer;
            margin: auto;
        }

        .occasions-cont__inner {
            text-align: center;
        }
        

        .occasions-cont-item {
            display: inline-block;
            margin: 0 15px;
            box-shadow: 10px 10px 15px rgba(0, 0, 0, 5%);
            background-color: #FAFAFA;
            max-width: 270px;
            left: 0;
            transition: .3s ease;
            cursor:pointer;
            vertical-align: top;
            text-align: initial;

            @media(max-width: 768px) {
                margin: 0 0 25px;
                width: 100%;
            }

            &>div {
                padding: 24px;

                &>p {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    hyphens: auto;
                    margin-top: 0;
                }

                &>.occasions-cont-more {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    text-decoration: none;
                    color: #000000
                }
            }

            &>img {
                display: block;
            }
        }


    }
}