.auth-wrapper {
    fieldset {
        border-color: inherit;

        legend span{
            color: inherit;
        }
    }
    label {
        color: inherit;
    }
    svg {
        path {
            fill: inherit;
        }
    }
    .decolored {
        text-decoration: none;
    }
    .rememberLogin {
        width: 83px;
        height: 37px;
        border-width: 1px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
  
        
        .decolored {
            text-decoration: none;
        }
  
  
  
        &.true:after {
            content: url(../images/check.svg);
            right: 10px;
            position: absolute;
            top: 8px;
        }
  
        &.true:before {
            content: '';
        }
  
        &.false:before {
            content: url(../images/cross.svg);
            position: absolute;
            left: 10px;
            top: 8px;
        }
  
        &.false:after {
            content: '';
        }
  
        span {
            display: block;
            width: 29px;
            height: 29px;
            border-radius: 50%;
            left: 5px;
            position: absolute;
            transition: .3s;
            background-color: #3f444e;
            z-index: 10;
        }
  
        &.false {
            span {
                left: 50px;
            }
        }
  
    }
  }

  [data-theme="dark"] {
    .rememberLogin {
        span {
            background-color: #e2e8f0;
        }
    }
  }