.container {
  width: 100%;
  height: 120vh;
  background-image: linear-gradient(
      rgba(244, 244, 249, 0.771),
      rgba(247, 188, 86, 0.5)
    ),
    url("../../components/images/404.avif");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: #ffffff 5px 0 10px;

  h1 {
    font-size: 10em;
    font-weight: bold;
    opacity: 0.75;
  }
  h2 {
    font-size: 6em;
    opacity: 0.75;
  }
  h3 {
    font-size: 4em;
    opacity: 0.75;
  }
}
[data-theme="dark"] {
  .container {
    color: #2b303c;
  }
}
