.reg-wrapper {
  fieldset {
    border-color: inherit;

    legend span{
        color: inherit;
    }
  }
  label {
      color: inherit;
  }
  svg {
      path {
          fill: inherit;
      }
  }
}